.login-section {

  h1 {
    font-size: 24px;
    color: $color-primary;
  }

  .login-box {
    background-color: $color-light-secondary !important;

    hr {
      background-color: $color-divider;
    }

  }

}
