.groups-show-wrapper {
  .wrapper-box:nth-of-type(1) {
    padding-top: 0;
  }
  .column {
    padding-bottom: 1px;
  }
  
  .mini-header {
    color: $color-light-secondary;
    padding: 0;
    margin: 0;
  }
  .bitcoin-wrapper {
    i {
      color: $color-accent;
      font-size: 24px;
    }
  }
  .bitcoin-box {
    height: inherit;
  }
  .past-moments-box {
    background-color: $color-light-primary;
  }

  .past-moments {
    max-height: 325px;
    overflow-y: scroll;
  }
  .sub-heading {
    font-size: 24px;
    font-weight: 600;
    color: $color-light-secondary;
  }

  .leaderboard-box {
    .heading {
      font-weight: 700;
    }

    .column {
      padding: 1px 10px;
      margin: 0;
    }

    hr {
    margin: 10px;
    }

  }

}
