
.groups-show-wrapper {

  .about-moment {
    padding-bottom: 0;
  }

  .about-box {
    padding-top: 0;
  }

  .mini-header {
    color: $color-light-secondary;
    padding: 0;
    margin: 0;
  }

  .bitcoin-wrapper {
    i {
      color: $color-accent;
      font-size: 24px;
    }
  }

  .past-moments-box {
    background-color: $color-light-primary;
  }

  .past-moments {
    max-height: 350px;
    overflow-y: scroll;
  }

  .sub-heading {
    font-size: 24px;
    font-weight: 600;
    color: $color-light-secondary;
  }

  .leaderboard-box {
    .heading {
      font-weight: 700;
    }

    .column {
      padding: 1px 10px;
      margin: 0;
    }

    hr {
    margin: 10px;
    }

  }

}
