$color-dark-primary: #455A64;
$color-light-primary: #CFD8DC;
$color-primary: #607D8B;
$color-light-secondary: #FAFAFA;
$color-text-icons: #FFFFFF;
$color-text-primary: #212121;
$color-text-secondary: #757575;
$color-divider: #BDBDBD;
$color-accent: #CDDC39;

$font-logo: 'Russo One';

$font-sidebar-weight: 600;
