@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans|Roboto');

/******************/
/** Main Styles **/
/****************/

html, body{
  height: 100vh;
  background-color: #455A64;
}


/***********/
/** Logo **/
/*********/

.logo {
  font-family: 'Russo One', sans-serif;
  font-size: 64px;
  color: #FAFAFA;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 20%;
  transform: translate(-50%, -50%);
}

.bitcoin {
  color: #CDDC39;
}

/********************/
/** Navbar Styles **/
/******************/

.mainNav  {
  background-color: #455A64;
}

/*********************/
/** Heading Styles **/
/*******************/



/********************/
/** Button Styles **/
/******************/


/******************/
/** Form Styles **/
/****************/

/* Login */

.loginBox {
  background-color: #FAFAFA !important;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;

}

.loginBox Button {
  background-color: #455A64 !important;
}

.loginBox h1 {
  font-size: 24px;
  color: #455A64;
}

.loginBox h3 {
  color: #757575;
}

.register {
  color: #455A64;
}
