

/******************/
/** Main Styles **/
/****************/

html, body{
  height: 100vh;
  background-color: #607D8B;
}


/*********************/
/** Heading Styles **/
/*******************/

.logo {
  font-family: 'Russo One', sans-serif;
  font-size: 64px;
  color: #FAFAFA;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 20%;
  transform: translate(-50%, -50%);
}

.smallLogo {
  display: inline;
  margin-top: 8px;
  font-size: 24px;
  font-family: 'Russo One', sans-serif;
  color: #FAFAFA;
  position: absolute;
  text-align: center;
}

.bitPrice p {
  display: inline;
  float: right;
}

.bitcoin {
  color: #CDDC39;
}

.heading {
  color: #FAFAFA;
}

/********************/
/** Navbar Styles **/
/******************/

.mainNav  {
  background-color: #607D8B;
}

/********************/
/** Button Styles **/
/******************/

.newBtn {
  background-color: #CDDC39 !important;
  color: #212121 !important;
}

.showBtn {
  background-color: #455A64 !important;
}

/******************/
/** Form Styles **/
/****************/

/* Login */

.loginBox {
  background-color: #FAFAFA !important;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;

}

.loginBox Button {
  background-color: #607D8B !important;
}

.loginBox h1 {
  font-size: 24px;
  color: #455A64;
}

.loginBox h3 {
  color: #757575;
}

.register {
  color: #455A64;
}

/*****************/
/** Box Styles **/
/***************/

div.box {
  background-color: #FAFAFA;
}

div.card {
  background-color: #CFD8DC;
  border-radius: 5px;
}

div.card:hover {
  background-color: #FAFAFA;
}

.predictionBox {
  text-align: center;
}

.timer {
  width: 700px;
  height: 228px;
  background-color: red !important;
}

/*******************/
/** Table Styles **/
/*****************/

.table tr {
  background-color: #FAFAFA;
  border-color: #CDDC39 !important;
}
.table th {
  background-color: #FAFAFA;
  border-color: #CDDC39 !important;
}

.table td {
  background-color: #FAFAFA;
  border-color: #CDDC39 !important;
}
