/******************/
/** Body Styles **/
/****************/

html, body {
  background-color: #FAFAFA;
}

/********************/
/** Navbar Styles **/
/******************/

.mainNav  {
  background-color: #455A64;
}

/********************/
/** Button Styles **/
/******************/

.loginButton {
  color: #757575;
  background-color: #FAFAFA;
}

.loginButton:hover {
  color: #757575;
  background-color: #FFFFFF;
}

/******************/
/** Form Styles **/
/****************/
